.post {
  position: relative;
  width: 100%;
  min-height: 200px;
  border-bottom: 1px solid #000;
  padding: var(--padding_boxes);
  background-color: var(--color_boxes);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  @media (width <= 500px) {
    font-size: .85em;
  }

  .post_avatar {
    border-radius: 100%;
    aspect-ratio: 4/4;
    object-fit: cover;
    max-width: 45px;
    width: 100%;
    height: auto;
  }
}
.icon_check {
  color: var(--color_accent);
  filter: drop-shadow(0 0 2px var(--color_accent));
}
.post_wrapper--top {
  display: flex;
  justify-content: space-between;
  align-items: center;


  .post_user {
    display: flex;
    align-items: center;
    gap: .5em;
  }

}

.post_timestamp {
  display: flex;
  align-items: center;
  gap: .1em;

  color: var(--color_accent);
  & > svg {
    width: 20px;
    height: auto;
  }
}

.post_content {
  max-width: 80%;
  overflow: hidden;
  text-align: left;
  position: relative;
  & > button {
    position: absolute;
    background-color: var(--color_shadow);
    color: #fff;
    padding: var(--padding_boxes);
    border-radius: var(--border_size);
    bottom: 0;
    right: 0;
    font-style: italic;
    margin-left: .4em;
    font-size: .8em;
    justify-content: center;
    align-items: center;

    & > svg {
      width: 15px;
      height: auto;
      transition: all .2s ease;
      margin-left: .1em;
    }
  }
}

.post_images {
  padding: .5em 0;

  .single_img {

    aspect-ratio: 16 / 9;
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: var(--border_size);
  }

}

.post_buttons {
  transform: translateX(50px);
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  flex: 1;
  & > button {
    position: relative;
    background: none;
    border: none;
    padding: .2em;
    cursor: pointer;

    transition: transform .1s ease-out;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(.90);
    }
  }
}